<div class="orderList">
    <h1>Order #
        <%= curr.order %>
    </h1>
    <h6 style="font-family: 'Annie Use Your Telescope'; color: white;"> Table #
        <%= curr.table %>
    </h6>
    <div class="row">
        <table>
            <tr>
                <th>Status:
                    <% if(isLoggedIn) { %>
                        <select name="orderStatus" id="orderStatus<%= curr.order %>" onchange="changeStatus(<%= curr.order %>, document.getElementById('orderStatus<%= curr.order %>').value)">
              <option value="Queue">Queue</option>
              <option value="Cooking">Cooking</option>
              <option value="Serve">Serve</option>
                    <% } else { %>
                        <%- curr.status %>
                    <% } %>
                </th>
                <th>
                    test
                </th>
            </tr>
        </table>
        <% curr.foodList.forEach(function(obj) { %>
            <%- include("orderSingular.ejs", {obj: obj}); -%>
                <% }); %>
                <% if(!isLoggedIn) {%>
                    <% if(curr.status == 'Queue') {%>
                    <button style="display: block;" id="cancel" class="btn" onclick="cancel(<%- curr.order %>)">Cancel order</button>
                    <% } %>
                <% } %>
    </div>
    <% if(isLoggedIn) { %>
        <script>
            document.getElementById("orderStatus<%- curr.order %>").value = "<%- curr.status %>";
            
        </script>
    <% } %>
</div>